
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    gap: 10px;
}
.name{
    margin-top: 20px;
    font-size: 45px;
    font-weight: 600;
    color: aliceblue;
}

.rectangle{
    
    height: 400px;
    width: 850px;
    border: 1px solid rgb(83, 83, 83);
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(233, 233, 233);
}

.joystick{
    
   margin-top: 30px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .rectangle {
      /* Adjust the margin-left and margin-right to make it fit within the screen width */
      margin-left: 20px;
      margin-right: 20px;
      /* Change width to 100% to occupy the full width of the screen */
      width: 100%;
    }
  }